{so_name, "supredis.so"}.

{port_sources, [
    "deps/hiredis/async.o",
    "deps/hiredis/dict.o",
    "deps/hiredis/hiredis.o",
    "deps/hiredis/net.o",
    "deps/hiredis/sds.o",
    "c_src/*.c"
]}.

{port_envs, [
    {"DRV_CFLAGS", "$DRV_CFLAGS -I ./deps/hiredis/"},
    {"ERL_LDFLAGS", "$ERL_LDFLAGS -lev"}
]}.
